$white-text-color: #ffffff;
$dark-gray-text-color: #232323;
$secondary-text-color: #999999;

$wite-smoke-color: #f1f1f1;
$white-color: #ffffff;

$teal-color: #004550;
$black-color-shade: rgba(0, 0, 0, 0.2);
$peridot-color: #93ea20;
$peridot-light-color: #aaff3a;
$watercourse-color: #005f4b;
$topaz-color: #00b336;
$topaz-light-color: #06c740;

$delimiter: #cdcdcd;

/* ---------- */
.page {
  font-family: "Open Sans", sans-serif;
  background: $white-color;

  &__wrapper {
    position: relative;
    max-width: 1920px;
    min-width: 300px;
    margin: auto;
  }
  &__header {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &__description-section {
    max-width: 1230px;
    min-height: 456px;
    margin: auto;
    margin-top: 82px;
  }
  &__speakers-section {
    max-width: 1230px;
    min-height: 378px;
    margin: 55px auto 0px auto;
  }
  &__footer {
    background: $wite-smoke-color;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 96px;
    margin-top: 90px;
  }
}

/* ---------- */

.header {
  background: $teal-color;

  &__webinar-logo {
    position: absolute;
    width: 305px;
    height: 305px;
    right: 832px;
    bottom: 41px;
  }
  &__decoration-image-first {
    position: absolute;
    width: 126px;
    height: 314px;
    left: 11px;
    bottom: 0px;
  }
  &__decoration-image-second {
    position: absolute;
    width: 72px;
    height: 572px;
    right: 0px;
    top: 0px;
  }
  &__decoration-image-third {
    position: absolute;
    left: 11px;
    bottom: -190px;
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 700px;
    height: 428px;
    top: 76px;
    margin-right: 75px;
  }
  &__form-area {
    background: $black-color-shade;
    position: relative;
    width: 803px;
    height: 628px;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 380px;
    height: 456px;
    left: 71px;
    top: 50px;
  }
  &__promo {
    width: 607px;
    height: 272px;
    margin-bottom: 45px;
  }
}

/* ---------- */
.promo {
  &__highlight {
    color: $peridot-color;
    text-transform: uppercase;
    font-style: normal;
    line-height: 36px;
    font-size: 28px;
    font-weight: 600;
  }
  &__title-main {
    color: $white-text-color;
    font-style: normal;
    line-height: 68px;
    font-size: 60px;
    font-weight: 600;
  }
  &__calendar {
    color: $white-text-color;
    font-style: normal;
    line-height: 36px;
    font-size: 28px;
    font-weight: 600;
  }
}

/* ---------- */
.form {
  &__header {
    color: $white-text-color;
    font-style: normal;
    line-height: 36px;
    font-size: 28px;
    font-weight: 500;
  }

  &__input-field {
    background: $white-color;
    width: 380px;
    height: 48px;
    margin: 8px 0px;
    padding-left: 5px;
  }

  &__checkbox {
    position: relative;
    bottom: 40px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__checkbox-text {
    display: inline-block;
    width: 340px;
    height: 72px;
    color: $white-text-color;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  &__policy-label {
    color: $white-text-color;
    font-style: normal;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
  }

  &__policy-link {
    color: $peridot-color;
    text-decoration: none;
  }
  &__button {
    width: 380px;
    height: 48px;
    background: $peridot-color;
    color: $watercourse-color;
    &:hover {
      background: $peridot-light-color;
    }
  }
}

/* ---------- */
.button {
  text-align: center;
  border-radius: 99px;
  border: none;
  text-transform: uppercase;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

/* ---------- */
.description-section {
  &__title {
    color: $dark-gray-text-color;
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    line-height: 48px;
    font-size: 34px;
    font-weight: 700;
  }

  &__container {
    display: flex;
  }

  &__live-recordings {
    min-width: 485px;
  }
  &__article {
    max-width: 705px;
  }
  &__video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    align-items: center;
  }
  &__delimiter {
    background: $delimiter;
    width: 93%;
    margin-top: 48px;
  }
}

/* ---------- */
.live-recordings {
  &__title {
    color: $secondary-text-color;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
  }
  &__link {
    display: inline-block;
  }
  &__image {
    width: 390px;
    height: 218px;
  }
}

/* ---------- */
.article {
  &__text-item {
    color: $dark-gray-text-color;
    font-style: normal;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    &--raised {
      margin-top: 1px;
    }
  }
  &__item {
    padding-left: 20;
    margin-bottom: 30px;
  }
  &__list-item {
    margin: 10px 10px 0px 0px;
  }
}

/* ---------- */
.video-container {
  &__title {
    color: $dark-gray-text-color;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 20px 20px 20px;
  }

  &__button {
    color: $white-text-color;
    width: 170px;
    height: 48px;
    background: $topaz-color;
    &:hover {
      background: $topaz-light-color;
    }
  }
  &__popup {
    position: absolute;
    bottom: 120px;
    right: 50px;
    width: 560px;
    height: 315px;
  }
}

.popup {
  border: solid $teal-color;
  z-index: 2;
  transition: all 0.3s linear 0s;

  &__button-close {
    position: absolute;
    top: -35px;
    right: -20px;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }

  &__video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}

/* ---------- */
.speakers-section {
  &__title {
    color: $dark-gray-text-color;
    font-style: normal;
    line-height: 48px;
    font-size: 34px;
    font-weight: 700;
    text-align: left;
    margin: 0px 0px 26px 0px;
  }
  &__speakers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    padding: 0px;
    margin: 8px 0px 0px 0px;
  }
}

/* ---------- */
.speakers {
  &__item {
    position: relative;
    width: 210px;
    height: 298px;
    margin: 0px 1px 0px 1px;
  }
  &__image-wrapper {
    position: relative;
    width: 210px;
    height: 182px;
  }
  &__portrait {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 164px;
    height: 164px;
    border-radius: 30px;
    z-index: 1;
  }

  &__frame {
    position: absolute;
    width: 119px;
    height: 151px;
    right: 0.49px;
    top: 0px;
    z-index: 0;
  }
  &__name {
    color: $dark-gray-text-color;
    font-style: normal;
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0px 0px 0px;
  }
  &__job-title {
    color: $secondary-text-color;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 1px 0px;
  }
}

/* ---------- */
.footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
  }

  &__copyright {
    color: $secondary-text-color;
    font-style: normal;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  &__text-link {
    text-decoration: none;
    color: $secondary-text-color;
  }
  &__icons-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 216px;
    height: 24px;
    list-style: none;
    padding: 0px;
    margin: 0;
  }
}

/* ------ Media queries  ---------*/

@media screen and (max-width: 1720px) {
  .header__webinar-logo {
    animation: opacity-1-to-0 0.5s forwards;
  }
  .header__info-container {
    width: 500px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1720px) {
  .header__webinar-logo {
    animation: opacity-0-to-1 0.5s forwards;
  }
}

@media screen and (max-width: 1495px) {
  .header__decoration-image-first {
    animation: header-left-dots-slideOut 1s forwards;
  }
  .header__decoration-image-third {
    z-index: -1;
    animation: left-dots-below-header-slideOut 1s forwards;
  }
  .header__info-container {
    margin-right: 50px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 1495px) {
  .header__decoration-image-first {
    animation: header-left-dots-slideDown 1s forwards;
  }
  .header__decoration-image-third {
    animation: header-left-dots-slideDown 1s forwards;
  }
}

@media screen and (max-width: 1100px) {
  .header__decoration-image-second {
    animation: header-right-dots-slideUp 1s forwards;
  }
  .speakers-section__speakers {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .speakers__item {
    margin: 5px 1px 0px 1px;
  }
}

@media screen and (min-width: 1100px) {
  .header__decoration-image-second {
    animation: header-right-dots-slideDown 1s forwards;
  }
}

@media screen and (max-width: 1000px) {
  .header__info-container {
    margin-right: 0px;
  }
  .header__form-container {
    left: 30px;
  }
  .description-section__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .description-section__live-recordings {
    min-width: 0px;
    margin-top: 10px;
  }
  .footer__icon {
    margin: 0px 7px 0px 7px;
  }
}

@media screen and (max-width: 920px) {
  .page__header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__info-container {
    height: 428px;
    top: 0px;
    margin-right: 0px;
  }
  .header__promo {
    width: 500px;
    height: 272px;
    margin-bottom: 45px;
  }
  .header__webinar-logo {
    top: 150px;
    right: 0px;
    animation: opacity-1-to-025 0.5s forwards;
  }
  .header__form-area {
    width: 100%;
  }
  .header__form-container {
    position: static;
    width: 380px;
    height: 456px;
    margin: auto;
    margin-top: 55px;
  }

  .description-section__article {
    padding: 0px 4px 0px 4px;
  }

  .video-container__popup {
    width: 373px;
    height: 210px;
  }
}

@media screen and (max-width: 500px) {
  .header__info-container {
    position: relative;
    width: 97%;
    height: auto;
    margin: auto;
  }
  .header__logo {
    width: 150px;
    margin-top: 5px;
  }

  .promo__title-main {
    font-size: 45px;
  }
  .promo__calendar {
    font-size: 15px;
    line-height: 30px;
  }

  .header__promo {
    width: 97%;
    margin-left: 8px;
  }

  .header__form-container {
    width: 100%;
    height: 456px;
    text-align: center;
  }

  .form__header {
    font-size: 28px;
    line-height: 36px;
  }

  .form__checkbox-wrapper {
    width: 100%;
  }
  .form__checkbox {
    width: 20px;
    height: 20px;
  }

  .form__input-field {
    width: 90%;
    height: 48px;
  }

  .form__checkbox-text {
    text-align: left;
    max-width: 300px;
  }
  .form__button {
    padding: 12px 24px;
    width: 80%;
  }

  .live-recordings__image {
    width: 100%;
    height: auto;
  }

  .video-container__title {
    text-align: center;
  }
  .speakers-section__title {
    text-align: center;
  }
  .video-container__popup {
    right: 40px;
    width: 310px;
    height: 175px;
  }
}

@media screen and (max-width: 400px) {
  .promo__title-main {
    font-size: 40px;
    line-height: 55px;
  }
  .promo__calendar {
    font-size: 13px;
  }
  .footer__copyright {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .promo__title-main {
    font-size: 31px;
  }
  .form__checkbox-text {
    text-align: left;
    max-width: 250px;
  }
  .video-container__popup {
    width: 248px;
    height: 140px;
  }
}

/*------- Keyframes ---------------*/

@keyframes header-left-dots-slideDown {
  0% {
    transform: translate(0px, -1000px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes header-left-dots-slideOut {
  100% {
    transform: translate(-93px, 80px) rotate(-90deg);
  }
}

@keyframes left-dots-below-header-slideOut {
  100% {
    transform: translate(-40px, -105px) rotate(90deg);
  }
}

@keyframes header-right-dots-slideUp {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -445px);
  }
}

@keyframes header-right-dots-slideDown {
  0% {
    transform: translate(0px, -445px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes opacity-1-to-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-1-to-025 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes opacity-0-to-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
